absl-py==0.13.0
dectree==0.0.6
ipython==7.20.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
lxml==4.8.0
markdown==3.3.4
matplotlib==3.5.1
notebook==6.2.0
nbclient==0.5.2
nbconvert==6.0.7
numpy==1.21.5
pandas==1.2.2
panel==0.13.0
plotly==5.3.1
seaborn==0.11.2
sklearn==0.0
statsmodels==0.12.2
voila==0.2.6
